In [130]:
import pandas as pd
import numpy as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [36]:
df_fake = pd.read_csv('D:\\Fake.csv')
df_true = pd.read_csv('D:\\True.csv')

In [150]:
df_fake.head()

Empty DataFrame
Columns: [title, text, subject, date, class]
Index: []

In [149]:
df_true.head()

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [151]:
df_fake["class"] = 0
df_true["class"] = 1

In [153]:
df_fake.shape, df_true.shape

((0, 5), (21407, 5))

In [135]:
# Removing last 10 rows for manual testing
df_fake_manual_testing = df_fake.tail(10)
for i in range(23480,23470,-1):
    df_fake.drop([i], axis = 0, inplace = True)
    
    
df_true_manual_testing = df_true.tail(10)
for i in range(21416,21406,-1):
    df_true.drop([i], axis = 0, inplace = True)

KeyError: '[23480] not found in axis'

In [43]:
df_fake.shape

(23471, 5)

In [44]:
df_true.shape

(21407, 5)

In [93]:
df_fake_manual_testing['class'] = 0
df_true_manual_testing['class'] = 1

C:\Users\Acer\AppData\Local\Temp\ipykernel_12020\1687945138.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true_manual_testing['class'] = 1

In [46]:
df_true_manual_testing.head(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [97]:
df_fake_manual_testing.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [99]:
df_merge = pd.concat([df_fake, df_true], axis = 0)
df_merge .head(10)

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1.0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1.0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1.0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1.0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1.0
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017",1.0
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017",1.0
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017",1.0
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017",1.0
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017",1.0

In [100]:
df_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [102]:
df = df_merge.drop(['title','subject','date'],axis = 1)

In [103]:
df.isnull().sum()

text     0
class    0
dtype: int64

In [105]:
df = df.sample(frac = 1)

In [106]:
df.head()

                                                    text  class
3250   WASHINGTON (Reuters) - Having Republicans cont...    1.0
6659   WASHINGTON (Reuters) - President Barack Obama ...    1.0
18437  MOSCOW (Reuters) - Russia s Defence Ministry o...    1.0
20834  PARIS (Reuters) - France s foreign minister sa...    1.0
1828   WASHINGTON (Reuters) - U.S. Representative Cha...    1.0

In [107]:
df.reset_index(inplace = True)
df.drop(['index'], axis = 1, inplace = True)

In [108]:
df.columns

Index(['text', 'class'], dtype='object')

In [109]:
df.head()

                                                text  class
0  WASHINGTON (Reuters) - Having Republicans cont...    1.0
1  WASHINGTON (Reuters) - President Barack Obama ...    1.0
2  MOSCOW (Reuters) - Russia s Defence Ministry o...    1.0
3  PARIS (Reuters) - France s foreign minister sa...    1.0
4  WASHINGTON (Reuters) - U.S. Representative Cha...    1.0

In [110]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [117]:
df['text'] = df['text'].apply(wordopt)

In [118]:
x = df['text']
y = df['class']

In [119]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.25)

In [120]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [131]:
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()
LR.fit(xv_train,y_train)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 1.0

In [49]:
import pandas as pd

# Assuming your DataFrame is named 'df'
# Replace 'your_dataset.csv' with the actual file path if your data is stored in a CSV file

# Load the dataset
df = pd.read_csv('D:\\Fake.csv')

# Replace 'your_keyword' with the specific keyword you are looking for
keyword = 'your_keyword'

# Filter the DataFrame to get titles containing the specified keyword
filtered_titles = df[df['title'].str.contains(keyword, case=False, na=False)]['title']

# Display the result
print(filtered_titles)

Series([], Name: title, dtype: object)

In [50]:
import pandas as pd

# Assuming your DataFrame is named 'df'
# Replace 'your_dataset.csv' with the actual file path if your data is stored in a CSV file

# Load the dataset
df = pd.read_csv('D:\\Fake.csv')

# Specify the word to search for in the subject
word_to_search = 'world'

# Filter the DataFrame to get rows where the 'subject' column contains the specified word
articles_with_world_subject = df[df['subject'].str.contains(word_to_search, case=False, na=False)]

# Display the result
print(articles_with_world_subject[['title', 'subject']])

Empty DataFrame
Columns: [title, subject]
Index: []

In [51]:
import pandas as pd

# Assuming your DataFrame is named 'df'
# Replace 'your_dataset.csv' with the actual file path if your data is stored in a CSV file

# Load the dataset
df = pd.read_csv('D:\\Fake.csv')

# Filter the DataFrame to get rows where 'subject' contains 'politics' and 'text' contains 'election'
filtered_articles = df[(df['subject'].str.contains('politics', case=False, na=False)) & (df['text'].str.contains('election', case=False, na=False))]

# Display the result
print(filtered_articles[['title', 'subject', 'text']])

                                                   title   subject  \
9050   Democrat Senator Warns Mueller Not To Release ...  politics
9056   GOTCHA! A Stammering John Podesta Stunned by a...  politics
9058   IT BEGINS…RINO MEGA-DONOR Threatens Jeb Bush: ...  politics
9061   FACEBOOK RELEASES Ads Paid For By Russians…And...  politics
9062   FACEBOOK’S VP Of Ads BLASTS MEDIA: Majority Of...  politics
...                                                  ...       ...
15850  Meet The CA Sheriff Who Won’t Be Bullied By Ob...  politics
15854  OBAMA’S RACISM CZAR, “REVEREND” AL SHARPTON CA...  politics
15872  ILLEGAL INVASION CONTINUES: NYC RAMPING UP TO ...  politics
15888  OH NO! GUESS WHO FUNDED THE SHRINE TO TED KENNEDY  politics
15890  HILLARY RODHAM NIXON: A CANDIDATE WITH MORE BA...  politics

                                                    text
9050   According to The Hill, Democrat Senator Bob Ca...
9056   John Podesta is Hillary Clinton s former campa...
9058   A longtime Republican Party donor based in Flo...
9061   There s been a lot of talk about the ads Russi...
9062   Facebook s VP of Advertising took to Twitter t...
...                                                  ...
15850   If you have a system that rewards you for bei...
15854  Yeah putting the federal government in charge ...
15872  Insane! This really is the definition of insan...
15888  Nothing like political cronyism to make your s...
15890  The irony here isn t lost on us. Hillary is be...

[1076 rows x 3 columns]

In [52]:
import pandas as pd

# Assuming your DataFrame is named 'df'
# Replace 'your_dataset.csv' with the actual file path if your data is stored in a CSV file

# Load the dataset
df = pd.read_csv('D:\\Fake.csv')

# Specify the word to search for in the title and subject
word_to_search = 'your_word_to_search'

# Filter the DataFrame to get rows where 'title' contains the specified word
# and 'subject' contains the specified word
filtered_articles = df[(df['title'].str.contains(word_to_search, case=False, na=False)) & (df['subject'].str.contains(word_to_search, case=False, na=False))]

# Display the result
print(filtered_articles[['title', 'subject', 'text']])

Empty DataFrame
Columns: [title, subject, text]
Index: []

In [53]:
import pandas as pd

# Assuming your DataFrame is named 'df'
# Replace 'your_dataset.csv' with the actual file path if your data is stored in a CSV file

# Load the dataset
df = pd.read_csv('D:\\Fake.csv')
df = pd.read_csv('D:\\True.csv')
# Get the unique subjects in the 'subject' column
unique_subjects = df['subject'].unique()

# Display the result
print(unique_subjects)

['politicsNews' 'worldnews']

In [54]:
import pandas as pd

# Assuming your DataFrame is named 'df'
# Replace 'your_dataset.csv' with the actual file path if your data is stored in a CSV file

# Load the dataset
df = pd.read_csv('D:\\Fake.csv')
df = pd.read_csv('D:\\True.csv')
# Specify the word to search for in the title
word_in_title = 'your_word_in_title'

# Filter the DataFrame to get rows where 'title' contains the specified word
# and 'text' contains 'fake'
filtered_articles = df[(df['title'].str.contains(word_in_title, case=False, na=False)) & (df['text'].str.contains('fake', case=False, na=False))]

# Display the result
print(filtered_articles[['title', 'text']])

Empty DataFrame
Columns: [title, text]
Index: []

In [55]:
import pandas as pd

# Assuming your DataFrame is named 'df'
# Replace 'your_dataset.csv' with the actual file path if your data is stored in a CSV file

# Load the dataset
df = pd.read_csv('D:\\True.csv')

# Specify the date to filter articles (in the format 'YYYY-MM-DD')
certain_date = '2017-08-22'  # Replace with your desired date

# Convert the 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'])

# Filter the DataFrame to get rows where the 'date' column is after the specified date
articles_after_certain_date = df[df['date'] > certain_date]

# Display the result
print(articles_after_certain_date[['title', 'date', 'text']])

                                                   title       date  \
0      As U.S. budget fight looms, Republicans flip t... 2017-12-31
1      U.S. military to accept transgender recruits o... 2017-12-29
2      Senior U.S. Republican senator: 'Let Mr. Muell... 2017-12-31
3      FBI Russia probe helped by Australian diplomat... 2017-12-30
4      Trump wants Postal Service to charge 'much mor... 2017-12-29
...                                                  ...        ...
21395  Poland to allocate additional $55 bllion on de... 2017-08-23
21396  Pro-Houthi fighters call powerful Yemen ally '... 2017-08-23
21397  Germany's Schulz says he would demand U.S. wit... 2017-08-23
21398  Blunt instrument? What a list of banned articl... 2017-08-23
21400  The People's Princess, Britons work to keep me... 2017-08-23

                                                    text
0      WASHINGTON (Reuters) - The head of a conservat...
1      WASHINGTON (Reuters) - Transgender people will...
2      WASHINGTON (Reuters) - The special counsel inv...
3      WASHINGTON (Reuters) - Trump campaign adviser ...
4      SEATTLE/WASHINGTON (Reuters) - President Donal...
...                                                  ...
21395  WARSAW (Reuters) - Poland will allocate an add...
21396  DUBAI (Reuters) - Fighters loyal to the armed ...
21397  BERLIN (Reuters) - The leader of Germany s Soc...
21398  SHANGHAI (Reuters) - An old review of an acade...
21400  LONDON (Reuters) - Abdul Daoud spilt most of t...

[12183 rows x 3 columns]

In [56]:
import pandas as pd

# Assuming your DataFrame is named 'df'
# Replace 'your_dataset.csv' with the actual file path if your data is stored in a CSV file

# Load the dataset
df = pd.read_csv('D:\\True.csv')

# Specify the specific date you are interested in (in the format 'YYYY-MM-DD')
specific_date = '2017-12-29'  # Replace with your desired date

# Convert the 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'])

# Filter the DataFrame to get rows where the 'date' column is equal to the specific date
articles_on_specific_date = df[df['date'] == specific_date]

# Display the result
print(articles_on_specific_date[['title', 'date', 'text']])

                                               title       date  \
1  U.S. military to accept transgender recruits o... 2017-12-29
4  Trump wants Postal Service to charge 'much mor... 2017-12-29
5  White House, Congress prepare for talks on spe... 2017-12-29
6  Trump says Russia probe will be fair, but time... 2017-12-29
7  Factbox: Trump on Twitter (Dec 29) - Approval ... 2017-12-29
8         Trump on Twitter (Dec 28) - Global Warming 2017-12-29

                                                text
1  WASHINGTON (Reuters) - Transgender people will...
4  SEATTLE/WASHINGTON (Reuters) - President Donal...
5  WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...
6  WEST PALM BEACH, Fla (Reuters) - President Don...
7  The following statements were posted to the ve...
8  The following statements were posted to the ve...

In [57]:
import pandas as pd

# Assuming your DataFrame is named 'df'
# Replace 'your_dataset.csv' with the actual file path if your data is stored in a CSV file

# Load the dataset
df = pd.read_csv('D:\\True.csv')

# Specify the specific word you are looking for in the title
specific_word = 'your_specific_word'

# Filter the DataFrame to get rows where 'title' contains the specified word
filtered_articles = df[df['title'].str.contains(specific_word, case=False, na=False)]

# Display the result
print(filtered_articles[['title', 'text']])

Empty DataFrame
Columns: [title, text]
Index: []

In [58]:
import pandas as pd

# Assuming your DataFrame is named 'df'
# Replace 'your_dataset.csv' with the actual file path if your data is stored in a CSV file

# Load the dataset
df = pd.read_csv('D:\\True.csv')

# Specify the specific word you are looking for in the title
specific_word = 'your_specific_word'

# Filter the DataFrame to get rows where 'title' contains the specified word
filtered_articles = df[df['title'].str.contains(specific_word, case=False, na=False)]

# Display the result
print(filtered_articles[['title', 'text']])

Empty DataFrame
Columns: [title, text]
Index: []

In [59]:
import pandas as pd

# Assuming your DataFrame is named 'df'
# Replace 'your_dataset.csv' with the actual file path if your data is stored in a CSV file

# Load the dataset
df = pd.read_csv('D:\\fake.csv')

# Specify the minimum character limit for the text
character_limit = 500

# Filter the DataFrame to get rows where the length of 'text' is longer than the specified limit
long_text_articles = df[df['text'].str.len() > character_limit]

# Display the result
print(long_text_articles[['title', 'text']])

                                                   title  \
0       Donald Trump Sends Out Embarrassing New Year’...
1       Drunk Bragging Trump Staffer Started Russian ...
2       Sheriff David Clarke Becomes An Internet Joke...
3       Trump Is So Obsessed He Even Has Obama’s Name...
4       Pope Francis Just Called Out Donald Trump Dur...
...                                                  ...
23476  McPain: John McCain Furious That Iran Treated ...
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...
23478  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...
23479  How to Blow $700 Million: Al Jazeera America F...
23480  10 U.S. Navy Sailors Held by Iranian Military ...

                                                    text
0      Donald Trump just couldn t wish all Americans ...
1      House Intelligence Committee Chairman Devin Nu...
2      On Friday, it was revealed that former Milwauk...
3      On Christmas day, Donald Trump announced that ...
4      Pope Francis used his annual Christmas Day mes...
...                                                  ...
23476  21st Century Wire says As 21WIRE reported earl...
23477  21st Century Wire says It s a familiar theme. ...
23478  Patrick Henningsen  21st Century WireRemember ...
23479  21st Century Wire says Al Jazeera America will...
23480  21st Century Wire says As 21WIRE predicted in ...

[21135 rows x 2 columns]

In [60]:
import pandas as pd

# Assuming your DataFrame is named 'df'
# Replace 'your_dataset.csv' with the actual file path if your data is stored in a CSV file

# Load the dataset
df = pd.read_csv('D:\\True.csv')

# Specify the minimum character limit for the text
character_limit = 500

# Filter the DataFrame to get rows where the length of 'text' is longer than the specified limit
long_text_articles = df[df['text'].str.len() > character_limit]

# Display the result
print(long_text_articles[['title', 'text']])

                                                   title  \
0      As U.S. budget fight looms, Republicans flip t...
1      U.S. military to accept transgender recruits o...
2      Senior U.S. Republican senator: 'Let Mr. Muell...
3      FBI Russia probe helped by Australian diplomat...
4      Trump wants Postal Service to charge 'much mor...
...                                                  ...
21412  'Fully committed' NATO backs new U.S. approach...
21413  LexisNexis withdrew two products from Chinese ...
21414  Minsk cultural hub becomes haven from authorities
21415  Vatican upbeat on possibility of Pope Francis ...
21416  Indonesia to buy $1.14 billion worth of Russia...

                                                    text
0      WASHINGTON (Reuters) - The head of a conservat...
1      WASHINGTON (Reuters) - Transgender people will...
2      WASHINGTON (Reuters) - The special counsel inv...
3      WASHINGTON (Reuters) - Trump campaign adviser ...
4      SEATTLE/WASHINGTON (Reuters) - President Donal...
...                                                  ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...
21413  LONDON (Reuters) - LexisNexis, a provider of l...
21414  MINSK (Reuters) - In the shadow of disused Sov...
21415  MOSCOW (Reuters) - Vatican Secretary of State ...
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...

[19242 rows x 2 columns]

In [61]:
import pandas as pd

# Assuming your DataFrame is named 'df'
# Replace 'your_dataset.csv' with the actual file path if your data is stored in a CSV file

# Load the dataset
df = pd.read_csv('D:\\True.csv')

# Specify the date range (in the format 'YYYY-MM-DD')
start_date = '2017-12-29'
end_date = '2017-12-31'

# Convert the 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'])

# Filter the DataFrame to get rows where the 'date' column is within the specified range
articles_in_date_range = df[(df['date'] >= start_date) & (df['date'] <= end_date)]

# Display the result
print(articles_in_date_range[['title', 'date', 'text']])

                                               title       date  \
0  As U.S. budget fight looms, Republicans flip t... 2017-12-31
1  U.S. military to accept transgender recruits o... 2017-12-29
2  Senior U.S. Republican senator: 'Let Mr. Muell... 2017-12-31
3  FBI Russia probe helped by Australian diplomat... 2017-12-30
4  Trump wants Postal Service to charge 'much mor... 2017-12-29
5  White House, Congress prepare for talks on spe... 2017-12-29
6  Trump says Russia probe will be fair, but time... 2017-12-29
7  Factbox: Trump on Twitter (Dec 29) - Approval ... 2017-12-29
8         Trump on Twitter (Dec 28) - Global Warming 2017-12-29

                                                text
0  WASHINGTON (Reuters) - The head of a conservat...
1  WASHINGTON (Reuters) - Transgender people will...
2  WASHINGTON (Reuters) - The special counsel inv...
3  WASHINGTON (Reuters) - Trump campaign adviser ...
4  SEATTLE/WASHINGTON (Reuters) - President Donal...
5  WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...
6  WEST PALM BEACH, Fla (Reuters) - President Don...
7  The following statements were posted to the ve...
8  The following statements were posted to the ve...

# Merging True and Fake Dataframes

In [62]:
df_merge = pd.concat([ df_fake , df_true ], axis = 0 )
df_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",NaN
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",NaN
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",NaN
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",NaN
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",NaN
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",NaN
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",NaN
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",NaN
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",NaN
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",NaN

In [63]:
df_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

# Removing columns which are not required

In [64]:
df = df_merge.drop(["title", "subject","date"], axis = 1)

In [65]:
df.isnull().sum()

text         0
class    23481
dtype: int64

In [91]:
df_fake = df_fake.sample(frac = 1)

In [92]:
df.head()

                                                text  class
0  Donald Trump just couldn t wish all Americans ...    NaN
1  House Intelligence Committee Chairman Devin Nu...    NaN
2  On Friday, it was revealed that former Milwauk...    NaN
3  On Christmas day, Donald Trump announced that ...    NaN
4  Pope Francis used his annual Christmas Day mes...    NaN

In [80]:
df.reset_index(inplace = True)
df.drop(['index'], axis = 1,inplace = True)

In [81]:
df.columns

Index(['text', 'class'], dtype='object')